body{
  font-family: VERDANA;
  width: 900px;
  font-size: 18;


}

h1{
  font-size: 37px;
  line-height: 46px;
  font-family: tahoma;
  color:#000000;


}

h2{
  font-size: 25px;
  line-height: 38px;
  font-family: tahoma;

}

h3{
  font-size: 18px;
  color:#666;

}

p{
  font-size: 18px;
  line-height: 27px;
  color:#333;
}
